PORT=8080

MONGODB_URI=mongodb+srv://natarajan1902n_db_user:Natarajan123@cluster0.ayfcf7u.mongodb.net/?appName=Cluster0

MONGODB_DATABASE=pulsepoll

REDIS_URL=redis://localhost:6379/0

JWT_SECRET=2qL5KTlw/FbDUcPEIcrdtLdFZBoEWvMcobsLhtbdo0h0frxIoRc8NW7/+k+F/ksx

FRONTEND_URL=http://localhost:5173
